<div class="flex">
  <div class="w-50 pa3 mr2">
    {{one-way-select
        value=selectedItem
        options=displayingItems
        update=(pipe-action (action (mut selectedItem))
                            (action "updateSocketSend" selectedItem)
                )
        disabled=dropdownDisabled
        data-test-target="drop-dwon"
    }}
  </div>
  <div class="w-50 pa3 mr2">
    {{message}}&nbsp;
  </div>
</div>


{{#if (eq selectedItem "all")}}

  {{#market-updates/ws-data-row payload=btcusd}}
  {{/market-updates/ws-data-row}}

  {{#market-updates/ws-data-row payload=ltcusd}}
  {{/market-updates/ws-data-row}}

  {{#market-updates/ws-data-row payload=ethbtc}}
  {{/market-updates/ws-data-row}}

  {{#market-updates/ws-data-row payload=ltcbtc}}
  {{/market-updates/ws-data-row}}

{{else}}

  {{#market-updates/ws-data-row payload=model.payload}}
  {{/market-updates/ws-data-row}}

{{/if}}