<nav>
  <ul>
    <li class="logo">
      <img src="/assets/images/white-logo.png" alt="">
    </li>
  </ul>
</nav>
<main class="container">
  
  {{#market-updates/ws-data}}
  {{/market-updates/ws-data}}
  
</main>